<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Shopping</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller="ShoppingListController">
      <h3>Shopping List:</h3>
      <!-- <ul>
        <li ng-repeat="item in shoppingList1">{{item}}</li>
      </ul> -->
      <!-- <ul>
        <li ng-repeat="item in shoppingList2">
          Buy {{item.quantity}} of {{item.name}}
        </li>
      </ul> -->
      <input type="text" ng-model="shoppingList2[0].quantity" />
      <ul>
        <li ng-repeat="item in shoppingList2">
          {{$index + 1}}. Buy {{item.quantity}} of {{item.name}}
        </li>
      </ul>
      <input type="text" ng-model="newItemName" placeholder="item name" />
      <input
        type="text"
        ng-model="newItemQuantity"
        placeholder="item quantity"
      />
      <button ng-click="addToList()">Add to list</button>
    </div>
  </body>
</html>
